<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/public/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Aviso</title>
</head>
<body>
    <div class="container body-excluir" style="text-align: center;">
        <h1 style="color:white">Algo deu errado!</h1>
        <div class="alert alert-warning" role="alert">
            <span class="text-center"><i class="fas fa-exclamation-triangle fa-7x"></i></span>
            <% if(typeof alerta !== 'undefined') {%>
                <p><%=alerta%></p>
            <% } else{%>
                    <p>Algo deu errado!</p>
                <% } %>
        </div>
        <form>
            <div class="form-group">
                <% if(typeof alerta !== 'undefined') {%>
                    <a href="/criarGrupo" class="btn btn-primary ml-2">Voltar para a criação de grupo</a>
                <% } %>
            </div>
        </form>
    </div>
</body>
</html>